* {box-sizing: border-box;}
html, body {height: 100%; font-family: sans-serif;}
body {padding: 2.5em 1em 4em 1em; margin-bottom: 4em;margin: 0; background-color: #f5f3eb;}
header {margin-bottom: 1ex;}
form {display: block; clear: both;}
h1 {font-size: 130%;}
a {text-decoration: none}
sub, sup {font-size: 75%; height: 0; line-height: 0; position: relative; vertical-align: baseline;}
sup {bottom: 1ex;}
sub {top: .5ex;}
div.text {max-width: 80ex; margin: 2em auto 1em auto;}
a:hover {text-decoration: underline;}
footer, nav.menu {white-space: nowrap; padding: 3px 1em 1px 1em;}
footer {position: fixed; bottom: 0; left: 0; right: 0; border-top: 1px #CCC solid; color: #999; background-color: #FFFFFF;}
nav.menu {position: absolute; top: 0; left: 0; right: 0; background-color: rgba(255, 255, 255, 0.4 );}
/* background-image: -webkit-linear-gradient( left, rgba(255, 255, 255, 0), #FFFFFF ); background-image:    -moz-linear-gradient( left, rgba(255, 255, 255, 0), #FFFFFF ); background-image:      -o-linear-gradient( left, rgba(255, 255, 255, 0), #FFFFFF ); background-image:         linear-gradient( to left, rgba(255, 255, 255, 0), #FFFFFF ); */
dl.plus { margin: 0 1ex 0 0; display: inline-inline-block; float: left; cursor: pointer;}
dl.plus dt {display: block; font-weight: bold; padding-left: 1em;}
dl.plus dd {display: none; position: absolute; margin: auto; padding: 1ex 1em 1em 1em; border-radius: 5px; box-shadow: 2px 2px 2px #888;}
dl.plus:hover dd {display: inline-block; z-index: 99; background-color: #FFFFFF;}
dl.plus:hover dd a {display: block;}
nav a {text-decoration: none; color: #999;}
nav a:hover {color: #000; background-color: #FFF;}

div.links {margin-bottom: 1em;}
p {text-align: justify;}
nav.top {margin: 0 2em 1em 0;}
table.data {font-size: 10pt;}
.even {background-color: #FFFFFF;}

.editions .gridy {border-left: 1px #CCCCCC dotted; position: absolute; height: 100%; top: 10px;}
.editions .year {font-size: 10px; position: absolute; transform:  translateX(-50%);}
.editions .title {text-align: right; display: inline-block; padding-right: 1ex;}
.editions a.edition {position: absolute; color: #FF0000; font-weight: bold; text-decoration: none; width: 1ex;}
.editions .row { border-top: 1px #CCCCCC dotted;}
.editions .row:hover { background-color: #FFFFCC;}

#chart {font-family: sans-serif; background-color: #FFFFFF; padding-bottom: 1em; width:100%; height:80%;}
.dygraph-label {color: #999; font-size: 25px;}
.dygraph-title {color: #000; padding-top: 3px; font-weight: 100;}
.dygraph-legend { background-color: rgba(255, 255, 255, 0.6) !important; padding: 4px; border: 1px solid #000; border-radius: 10px; box-shadow: 4px 4px 4px #888; pointer-events: none; font-size: 14pt !important; line-height: 100%;}
.dygraph-axis-label-x {font-size: 16pt;}
/*
.ann {color: rgba( 0, 0, 0, 0.4) !important; text-shadow: 1px 1px 1px #FFF, -1px 1px 1px #FFF;  font-size: 20px !important; font-weight: bold; border: none !important; border-left: 2px solid #000 !important; line-height: 1em; background-color: rgba(255, 255, 255, 0.1) !important;}
*/
/* Annotation verticale */
.annv {transform: rotateZ(-90deg); transform-origin: 0% 100%; padding-left: 1em; border: none !important; border-bottom: 1px solid #000 !important; font-size: 16pt !important; font-weight: normal; color: rgba( 0, 0, 0, 0.8) !important; background-color: rgba(255, 255, 255, 0.4) !important;}
/* Annotation étiquette */
.annl {font-size: 16pt !important; background-color: rgba(255, 255, 255, 0.5) !important; border: none !important; border-left: 3px solid #000 !important; padding: 0 0.5ex 0 0.2ex; color: rgba( 0, 0, 0, 0.8) !important;}
/* Annotation 45° */
.ann45 {transform: rotateZ(45deg); transform-origin: 10% 50%; padding: 0 0.5ex 0 0.5ex; border: none !important; border-left: 1px solid #000 !important; font-size: 14pt !important; font-weight: normal; background-color: rgba(255, 255, 255, 0.7);}
.ann-45 {transform: rotateZ(-45deg); transform-origin: -1em 50%; padding: 0 0.5ex 0 0.5ex; border: none !important; border-bottom: 1px solid #000 !important; font-size: 14pt !important; font-weight: normal; background-color: rgba(255, 255, 255, 0.2);}
/* annotation basse */
.annb {background-color: transparent; margin-top: 2em; font-weight: bold; border: none; font-size: 16pt !important; opacity: 0.5;}

.annu {font-size: 16px !important; background-color: rgba(255, 255, 255, 0.7) !important; border: none !important; margin-top: -1ex;}


.logo {position: absolute; top: 2px; right: 2px;}
#perslist {position: absolute; visibility: hidden; display: block; z-index: 99; background-color: #FFFFFF; margin-left: 5rem; padding: 0;}
form input, form select, form button {font-size: 14pt; outline: 0;}
label span {width: 5rem; display: inline-block; text-align: right;}


::-webkit-input-placeholder { opacity: 0.8; color: #BBB; font-style: italic;}
:-moz-placeholder {opacity: 0.8; color: #BBB; font-style: italic;}
::-moz-placeholder {opacity: 0.8; color: #BBB; font-style: italic;}
:-ms-input-placeholder {opacity: 0.8; color: #BBB; font-style: italic;}

summary {cursor: pointer;  z-index: 10;}
details.help summary {background: #FFFFFF; font-size: 150%; font-weight: bold; color: #000080;}
details.help {display: block; background: #FFFFFF; color: #666; padding: 0.5rem 0.5rem 0.5rem 0.5rem;}
details[open].help summary {padding: 0; float: left; margin-right: 0.5rem;}
details p {margin: 0;}
