* { box-sizing: border-box; }
html, body { height: 100%; font-family: sans-serif; }
form { display: block; clear: both; }
h1 { font-size: 130%; margin-top: 0; }
a { text-decoration: none }
a:hover { text-decoration: underline; }
body { padding: 2em 1em 1em 1em; margin: 0; background-color: #f5f3eb; }
p { text-align: justify; }
nav.top { margin: 0 2em 1em 0; }
table.data { font-size: 10pt; }
nav a { text-decoration: none; color: #999; }
nav a:hover { color: #000; background-color: #FFF; }
.even { background-color: #FFFFFF; }
div.dygraph { background-color: #FFFFFF;}
div.graph { height: 99.9%; width: 99.9%; font-family: sans-serif; background-color: #FFFFFF; }
.editions .gridy { border-left: 1px #CCCCCC dotted; position: absolute; height: 100%; top: 10px; }
.editions .year { font-size: 10px; position: absolute; transform:  translateX(-50%); }
.editions .title { text-align: right; display: inline-block; padding-right: 1ex; }
.editions a.edition { position: absolute; color: #FF0000; font-weight: bold; text-decoration: none; width: 1ex; }
.editions .row {  border-top: 1px #CCCCCC dotted; }
.editions .row:hover {  background-color: #FFFFCC; }
.dygraph-legend {  background-color: rgba(255, 255, 255, 0.75) !important; padding: 4px; border: 1px solid #000; border-radius: 10px; box-shadow: 4px 4px 4px #888; pointer-events: none; font-size: 14pt !important; }
.dygraph-axis-label-x { font-size: 16pt; }
.dygraph-label { font-size: 18pt; font-weight: bold; }
.ann { color: #FFFFFF !important; text-shadow: 1px 1px 1px #000, -1px 1px 1px #000;  font-size: 25px !important; font-weight: bold; border: none !important; border-left: 3px solid #000 !important; background: rgba(128, 128, 128, 0.3) !important; line-height: 1em; padding: 0.2ex 0.2ex 0ex 0ex; }
nav.menu { background-color: #FFFFFF; padding: 0 1ex; position: absolute; top: 0; left: 0; right: 0; }
